.container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: rgb(16, 16, 16);
  z-index: 50;

  .authContainer {
    padding-right: 10px;
  }
}

.authenticate {
  display: flex;
  gap: 10px;
  margin: 0 15px;
}

.authenticate a {
  padding: 8px;
  border-radius: 8px;
  color: aliceblue;
  background-color: rgb(70, 70, 70);
}

.logo {
  margin: 0 15px;

  .menuButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0);
  }
}
