@import "@/variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 200px;
  border-radius: 18px;
  padding: 0;
  width: 100%;

  background-color: $container-background;
  transition: 0.2s;
  user-select: none;
  cursor: pointer;

  @media (min-width: 1024px) {
    max-width: 200px;
    width: 100%;
  }
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  border-radius: 13px;
  background-color: #181818;
  margin-bottom: 1rem;
  overflow: hidden;
}

.nameContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  user-select: none;
  padding: 0px 8px 6px 8px;
  box-sizing: border-box;

  form {
    input {
      width: 100%;
      box-sizing: border-box;
      border: none;
      border-radius: 6px;
      background-color: transparent;
      font-family: "Nunito", sans-serif;

      outline: none;
      cursor: pointer;

      &:focus-within {
        border: solid 1px rgb(60, 112, 224);
      }
    }
  }
}

.menuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;

  p {
    display: -webkit-box;
    width: 150px;
    word-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0;
    color: gray;
    font-size: 12px;
    margin: 0;

    @media (max-width: 768px) {
      width: 100px;
    }
  }
  .name {
    display: -webkit-box;
    width: 150px;
    word-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0;
    color: lightgray;
    user-select: none;
    font-size: 14px;

    @media (max-width: 768px) {
      width: 100px;
    }
  }
}

.menuContainer {
  position: relative;
}
