.table {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center;
  gap: 15px;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
}

.table > * {
  box-sizing: border-box;
  padding: 10px;
}

.emptyFolderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  box-sizing: border-box;
}
