$theme: #f8bb13;
$menu-color: #181818;
$menu-color-hover: rgba(95, 95, 95, 0.212) 8;
$menu-text-color: #969696;
$menu-border-color: #2c2c2c;
$menu-text-font-size: 13px;
$menu-text-font-weight: 700;
$button-delete-color: #ff000d2c;
