$theme: #f8bb13;
$menu-color: #191919;
$folder-menu-color: #2c2c2c;
$menu-color-hover: rgba(95, 95, 95, 0.212) 8;
$menu-text-color: #969696;
$menu-border-color: #2c2c2c;
$menu-text-font-size: 13px;
$menu-text-font-weight: 700;
$container-background: rgba(29, 29, 29, 255);
$input-background: #252525;
$button-delete-color: #ff4a53;
$button-red-color: #ff000d2c;
$button-success-color: #4aff68;
$z-index-modal: 100;
$z-index-menu: 90;
$z-index-mobile-menu: 100;
$logo-svg-color: #353535;
$button-active-color: rgba(128, 128, 128, 0.267);
