.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  z-index: 1;
}

.image {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  user-select: none;
}

.loadingPlaceholder {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
