@import "@/variables";
.container {
  position: fixed;

  right: 0;
  padding: 5px;
  margin-top: 50px;
  width: 100px;
  height: auto;
  border-radius: 12px;
  box-sizing: border-box;
  background-color: $menu-color;
}
